@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte, </h1>
    <p>toto je Vaše první aplikace v .NET Razor Pages v rámci kurzu AIT (2022).</p>
</div>
