@page
@model vosplzen.sem1h4.Pages.ClassroomPages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h1>Edit</h1>
        <h4>Classroom</h4>
    </div>
    <div class="col-6">
        <partial name="_IndexPartialView" model="@Model.Classroom" />
    </div>
</div>


  
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Classroom.Title" class="control-label"></label>
                    <input asp-for="Classroom.Title" class="form-control" />
                    <span asp-validation-for="Classroom.Title" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Classroom.Id" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
